<div class="container">
  <div class="row">
    <% @images = ["love", "laugh", "happy", "cute", "sad"] %>
    <% @kittens.each_with_index do |kitten, index| %>
      <div class="col-md-4">
        <div class="box">
          <%= link_to kitten_path(kitten) do %>
          <h2 class="title"><%= kitten.name %></h2>
            <%= image_tag "cat_#{index + 1}.jpg", class: "img-fluid" %>
          <% end %>
          <p class="like-counter">Total Reactions: <%= kitten.reactions.sum(:reaction_count) %></p>
          <div class="emoji-buttons">
            <% @images.each do |image| %>
              <button class="like-button" data-kitten-id="<%= kitten.id %>" data-reaction-type="<%= image %>">
                <%= image_tag "#{image}.png", class: "emoji-image" %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Surprise Kitty", random_kitten_path %>

<script>
document.querySelectorAll('.like-button').forEach((button) => {
  button.addEventListener('click', (event) => {
    event.preventDefault();
    const kittenId = button.dataset.kittenId;
    const reactionType = button.dataset.reactionType;
    fetch(`/kittens/${kittenId}/reactions`, {
      method: 'POST',
      headers: {
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content,
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
      body: JSON.stringify({ reaction_type: reactionType })
    })
    .then(response => response.json())
    .then(data => {
      button.closest('.box').querySelector('.like-counter').textContent = `Total Reactions: ${data.total_reactions}`;
      button.querySelector('.reaction-counter').textContent = `${data.reaction_count}`;
    });
  });
});
</script>
