<div class="cat-container">
  <h1><%= @kitten.name %></h1>

  <div class="cat-box">
    <%= image_tag "cat_#{@kitten.id}.jpg", class: "cat-image" %>

    <h2></h2>
    <div class="cat-emoji-buttons">
      <button class="cat-like-button">
        Love: <%= @kitten.reactions.find_by(reaction_type: 'love').reaction_count %>
        <%= image_tag "love.png", class: "cat-emoji-image" %>
      </button>
      <button class="cat-like-button">
        Sad: <%= @kitten.reactions.find_by(reaction_type: 'sad').reaction_count %>
        <%= image_tag "sad.png", class: "cat-emoji-image" %>
      </button>
      <button class="cat-like-button">
        Laugh: <%= @kitten.reactions.find_by(reaction_type: 'laugh').reaction_count %>
        <%= image_tag "laugh.png", class: "cat-emoji-image" %>
      </button>
      <button class="cat-like-button">
        Happy: <%= @kitten.reactions.find_by(reaction_type: 'happy').reaction_count %>
        <%= image_tag "happy.png", class: "cat-emoji-image" %>
      </button>
      <button class="cat-like-button">
        Cute: <%= @kitten.reactions.find_by(reaction_type: 'cute').reaction_count %>
        <%= image_tag "cute.png", class: "cat-emoji-image" %>
      </button>
    </div>
  </div>

  <%= link_to "Back to Index", kittens_path, class: "back-button" %>
</div>
