<h1 class="text-center"></h1>
<div class="container-fluid top3-container">
  <div class="row justify-content-center align-items-center">
    <% @top_kittens.each do |kitten| %>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="box text-center">
          <%= link_to kitten_path(kitten) do %>
            <%= image_tag kitten.image_url, class: "img-fluid" %>
          <% end %>
          <h2><%= kitten.name %></h2>
          <p>Total Reactions: <%= kitten.reactions.sum(:reaction_count) %></p>
        </div>
      </div>
    <% end %>
    
</div>
<center> 
<%= link_to "Back to Home", kittens_path, class: "back-button" %>
</center>
  </div>

</div>
