<!DOCTYPE html>
<html>
  <head>
    <title>MeowMeter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
  <%= render "shared/navbar" %>
  <main>
    <%= yield %>
    </main>
    <div class="container-sticky">
    <%= link_to top3_path, class: "top-link" do %>
      <%= image_tag("top3.png", alt: "Top") %>
      <span class="button-text-top">Top</span>
    <% end %>

    <%= link_to random_kitten_path, class: "random-kitty-link" do %>
      <%= image_tag("random.png", alt: "Random Kitty") %>
      <span class="button-text-random">Surprise Kitty</span>
    <% end %>
    </div>
  </body>
</html>